.hover {
  box-shadow: 0 5px 16px rgba(255, 185, 38, 0.19) !important;
  background: rgba(255, 185, 38, 0.09) !important;
}

.item {
  padding: 1em !important;
  position: relative !important;
}

.icons {
  position: absolute;
  top: .5rem;
  right: 0;
  i {
    cursor: pointer !important;
    opacity: .7 !important;
    &:hover {
      opacity: 1 !important;
    }
  }
}