@import '../../constants/variables.scss';

.formButtons {
  display: flex;
  justify-content: space-between;
}
.saveBtn {
  button {
    background-color: $purple-color !important;
    color: #fff !important;
  }
}