.menubar {
  font-Family: inherit !important;
  h3, a {
    text-transform: uppercase !important;
  }
  a {
    font-weight: 900 !important;
    letter-spacing: .31em !important;
    font-size: .7rem !important;
  }
}

.topTapeImage {
  width: 100%;
  background-repeat: repeat-x;
  background-size: 10rem 1rem;
  background-position-y: .15rem;
  height: 1.5rem;
}

.firstColor {
  color: #3EB477 !important;
}
.secondColor {
  color: #FFB926 !important;
}
.thirdColor {
  color: #C12B68 !important;
}