.menubar {
  font-Family: inherit !important;
  h3, a {
    text-transform: uppercase !important;
  }
  a {
    font-weight: 900 !important;
    letter-spacing: .31em !important;
    font-size: .7rem !important;
  }
}