@import '../../constants/variables.scss';

.active {
  box-shadow: 0 5px 16px rgba(62, 180, 119, 0.19) !important;
  border-left: 2px solid $green-color !important;
  background: rgba(62, 180, 119, 0.09) !important
}

.newBtn {
  flex-grow: 17;
  button {
    background-color: $orange-color !important;
    color: white !important;
  }
}
.items {
  div:global(.ui.divided.items) {
    div:global(.item) {
      padding-top: 1em !important;
      padding-bottom: 1em !important;
      position: relative !important;
    }
    div:global(.item):last-of-type {
      border-bottom: 1px solid rgba(34,36,38,.15) !important;
    }
  }
}