.grid {
  margin-right: 0 !important;
}
.ingredientsLabel {
  flex-grow: 17;
  font-size: .93rem;
  align-self: flex-end;
}

.checkList {
  height: 53vh !important;
  overflow-y: scroll !important;
  background-color: #e0e1e2 !important;
}